<!DOCTYPE html>
<html>

<head>
    <title>Simple Group Chat on Node.js</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            font: 13px Helvetica, Arial;
        }
        
        form {
            background: #fff;
            padding: 3px;
            position: fixed;
            bottom: 0;
            width: 100%;
            border-color: #000;
            border-top-width: 1px;
        }
        
        form input {
            border-style: solid;
            border-width: 1px;
            padding: 10px;
            width: 85%;
            margin-right: .5%;
        }
        
        form button {
            width: 9%;
            background: rgb(130, 224, 255);
            border: none;
            padding: 10px;
            margin-left: 2%;
        }
        
        #messages {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        
        #messages li {
            padding: 5px 10px;
        }
        
        #messages li:nth-child(odd) {
            background: #eee;
        }
    </style>

    <script type="text/javascript" src="static/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="socket.io.js"></script>
    <script src="socket.io-file-client.js"></script>
</head>

<body>

    <div style="width: 50%;border: 1px;float: left;">
        <ul style="width: 100%" id="messages"></ul>

        <form style="width: 50%" action="/" method="POST" id="chatForm">

            <input style="width: 42%" type="text" id="sender_id" placeholder="Sender Id" value="">
            <input style="width: 42%" type="text" id="receiver_id" placeholder="Receiver Id" value="">
            <input type="file" id="file" multiple />
            <input id="txt" autocomplete="off" autofocus="on" placeholder="type your message here..." /><button>Send</button>
        </form>
    </div>
    <span style="float: right; margin-right: 22px;"><strong>Online User</strong></span><br>
    <div id="user_list" style="text-align: right;width: 99%">

    </div>
    <script>
        const base_url = 'http://192.168.2.153:3800/';
        // const base_url = 'http://www.techopium.com:3800';
        var socket = io.connect(base_url);
        var msg = '';

        // append the chat text message
        socket.on('chat_message', function(msg) {
            $('#messages').append($('<li>').html(msg));
        });

        // append the chat text message
        socket.on('user_list', function(msg) {
            $('#user_list').html(msg);
        });

        // append text if someone is online
        socket.on('is_online', function(username) {
            $('#messages').append($('<li>').html(username));
        });
        // ask username
        var username = prompt('Please tell me your name');
        socket.emit('username', username);
        socket.emit('user_list', '');


        // File Upload

        /* 
        var uploader = new SocketIOFileClient(socket);
        var form = document.getElementById('form');
         
        uploader.on('start', function(fileInfo) {
            console.log('Start uploading', fileInfo);
        });
        uploader.on('stream', function(fileInfo) {
            console.log('Streaming... sent ' + fileInfo.sent + ' bytes.');
        });
        uploader.on('complete', function(fileInfo) {
            console.log('Upload Complete', fileInfo);
        });
        uploader.on('error', function(err) {
            console.log('Error!', err);
        });
        uploader.on('abort', function(fileInfo) {
            console.log('Aborted: ', fileInfo);
        });
         var fileEl = document.getElementById('file');
            var uploadIds = uploader.upload(fileEl, {
                data: {  }
            });
        */

        $('form').submit(function(ev) {
            ev.preventDefault();
            var msg = $('#txt').val();
            var my_object = {
                sender_id: $('#sender_id').val(),
                receiver_id: $('#receiver_id').val(),
                message: msg
            };
            $('#txt').val('');
            socket.emit('send_message', my_object);
            return false;
        });
    </script>
</body>

</html>