.error {
    color: #ff0000 !important;
    font-weight: 400;
}

.parsley-required {
    color: red !important;
    font-size: 14px;
    list-style: none;
    margin-left: 0px;
}

.parsley-errors-list {
    color: red !important;
    font-size: 14px;
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}

.document_proof_image {
    width: 135px;
    height: 135px;
    border-radius: 8px;
    overflow: hidden;
    margin: auto;
}

.document_proof_image img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

hr {
    margin-right: 0;
    margin-left: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

ul.dropdown-menu.head-noti.show {
    display: block !important;
    height: 350px !important;
    overflow-y: scroll;
}


/*rating review*/


/* Ratings widget */

.rate {
    display: inline-block;
    border: 0;
}


/* Hide radio */

.rate>input {
    display: none;
}


/* Order correctly by floating highest to the right */

.rate>label {
    float: right;
}


/* The star of the show */

.rate>label:before {
    display: inline-block;
    font-size: 1.1rem;
    padding: .3rem .2rem;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 ";
    /* full star */
}


/* Zero stars rating */

.rate>label:last-child:before {
    content: "\f006 ";
    /* empty star outline */
}


/* Half star trick */

.rate .half:before {
    content: "\f089 ";
    /* half star no outline */
    position: absolute;
    padding-right: 0;
}


/* Click + hover color */

.rate input:checked~label,

/* color current and previous stars on checked */

.rate label:hover,
.rate label:hover~label {
    color: #f6d836;
}


/* color previous stars on hover */


/* Hover highlights */

.rate input:checked+.rate label:hover,
input:checked~label:hover,

/* highlight current and previous stars */

input:checked~label:hover~label,

/* highlight previous selected stars for new rating */

label:hover~input:checked~label
/* highlight previous selected stars */

{
    color: #f2da71;
}


/*rating review*/

.dark_color {
    background-color: lightgrey;
}