  

    @media screen and (max-width: 1360px) and (min-width: 1200px){
        .card-img-list .cardbox-8 {
            height: 347px;
        }
    }
    @media screen and (max-width: 1200px) {
        .subscription-section .form-option-block .radio-container .card{padding: 30px; text-align: center;padding-top: 70px; width: 100%;}
        .subscription-section .form-check-inline {
        width: calc(33.33% - 18px);
        float: left;
        }
      
    }
    @media only screen and (max-width: 1199px) and (min-width: 992px){
        
    }
    
    @media screen and (max-width: 991px) {
        section.home-slider .slider-8, section.home-slider .slider-4 {
            width: 100%;
            padding: 0px;
        }
        section.home-slider ul,section.home-slider .banner-img2 li {
            margin: 0 !important;
        }
        section.home-slider .slider-4 .banner-img2 li{width: 50%; float: left;}
        section.home-slider .banner-img1 li {
            height: 320px !important;
        }
        section.home-slider .banner-img2 li {
            height: 180px !important;
        }
        section.home-slider .banner-img{padding-bottom: 4px;}
        section.home-slider .banner-img2 li:first-child {padding-right: 2px;}
        section.home-slider .banner-img2 li:last-child {padding-left: 2px;}
        .service-provider.pt-0 {
            padding-top: 30px !important;
        }
        .home-section .service-provider .full-width,
        .home-section .service-provider.not-50,
        .home-section .service-provider.not-50 .service{width: 100%;}
        .home-section .service-provider .service {width: 50%; float: left;}
        .home-section .service-provider:nth-child(2) {
            width: 100%;
        }
        .profile-content-box .dropdown{
            position: relative !important;
        }
        .dropmenuContainer {
            right: 90px;
        }
        .service-provider.pdT-0 {
            padding-top: 15px;
        }
        .add-item-form-col {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .add-btn{left: 0;}
        .hide-res{display: none;}
        .sd-section .btn-lg-style {
            padding: 7px 15px;
        }
    }
    
    @media screen and (max-width: 767px) {
        .show-toggle {
            display: block;
        }
        #navb3.for-mobile {
            display: block;
            position: absolute;
            top: 5px;
            right: 65px;
            padding: 0;
            width: auto;
            float: left;
        }
        .container.menu-container {
            max-width: 100%;
        }
        #navb3.for-mobile .list-inline-item:not(:last-child) {
            margin-right: 0;
        }
        #navb3.for-mobile .user-image {
            position: relative;
            top: 10px;
        }
        a.navbar-brand img {
            width: 33px;
        }
        .service-details{
            width: calc(100% - 70px);
            float: left;
            padding: 0px 10px;
        }
        .home-section .service-provider.not-50 .service .fWidth{margin-top: 15px;}
        .commnetSection > .post-text {
            width: calc(100% - 50px);
            float: left;
        }
        .commnetSection2 > .post-text {
            width: calc(100% - 40px);
            float: left;
        }
        .dropmenuContainer {
            right: 58px;
        }
        .more-count {padding-left: 65px;}
        .service-f {
            width: 100% !important;
        }
        .not-50 .full-width {
            width: 100%;
        }
        .tab-btn li {
            font-size: 14px;
            padding-top: 10px;
        }
        .subscription-section .form-option-block .radio-container .card {
            padding: 30px 0px;
            padding-top: 70px;
        }
        .subscription-section .form-option-block .radio-container .card span.hidden-sm {
            display: none;
        }
    }

    @media screen and (max-width: 575px) {
       
        span.chat-text {
            display: none;
        }
        .chat-room a {
            padding: 10px 10px;
        }
        .profile-content-box {
            margin-top: 12px;
            padding: 0px 25px;
            margin-bottom: 19px;
            padding-top: 50px;
        }
        .service-details.fWidth {
            width: calc(100% - 0px);
        }
        .tab-btn li {
            font-size: 12px;
        }
        .tab-btn li a {
            padding: 5px 10px !important;
        }
        .subscription-section .form-option-block .form-check-inline:nth-child(2) {
            margin: 0px 5px;
        }
        .subscription-section .form-check-inline ,.subscription-section .form-option-block .radio-container{
            width: 100%;margin-bottom: 10px;
        }
        .subscription-section .form-option-block .form-check-inline:nth-child(2){margin: 0px;}
        .subscription-section .form-option-block .radio-container .checkmark{left: 49%;}
        .subscription-section .details-card {padding: 15px !important;}
        .add-service-table td span:first-child {
            display: table;
        }
        .add-item-form{padding: 0px;}
    }

    @media screen and (max-width: 480px) {
        .profile-menu{ right: 145px;}
        .notification-menu.request-menu.freq {
            right: 63px;
        }
        .notification-menu.request-menu {
            right: 72px;
        }
        .notification-menu.request-menu.onlynotification {
            right: 133px;
            top: 10px;
        }
        .notification-menu.request-menu.onlynotification.hh2 {
            right: 170px;
        }
        .home-section .service-provider .service {
            width: 100%;
            float: left;
        }
        section.home-slider .banner-img1 li {
            height: 200px !important;
        }
        section.home-slider .banner-img2 li {
            height: 150px !important;
        }
        .dropmenuContainer {
            right: 50px;
        }
        .more-count {
            padding-left: 25px;
        }
        .profile-content-box .profile-userName span{display: block;}
        .card .userName{width: 92%;}
        .post-btn.relPos {
            width: 8%;
        }
        .likeCommentSection .LCSsection img {
            width: 22px;
        }
        .likeCommentSection span {
            font-size: 14px;
        }
        .likeCommentSection .user-profile-list li {
            height: 25px;
            width: 25px;
        }
        .likeCommentSection .user-profile-list {
            top: 14px;
            margin-left: 18px;
        }
        .post-form.profile-post-box textarea.form-control.post-details {
            padding: 12px;
        }
        .slider-transe-overlay ul.carousel-indicators {display: none;}
        .slider-transe-overlay .carousel-item {
            position: relative;
            height: 200px;
        }
        .carousel-item img{ height: 100%;object-fit: fill;}
        ul.carousel-indicators {display: none;}
        .carousel-item {
            position: relative;
            height: 200px;
        }
       .carousel-item img{ height: 100%;object-fit: fill;}
        .detail-profile-content .eventVanue .address{width: 100%;}
        .d-Service.detail-profile-content .btn {
            border-radius: 20px;
            font-size: 12px;
            padding: 5px 10px;
        }
        .my-store .service-offer-btn{margin-top: 15px;}
        .request-menu .btn-reject, .request-menu .btn-accept{line-height: 9px;}
        .profile-menu{top: 45px;}
        .add-offer-tab-btn li a {
            padding: 2px 10px !important;
        }
    }

   
    

  footer {
    display: block;
    clear: both;
    overflow: hidden;
    background: #fff;
}
    
.upsection {
    margin-top: 50px;
}
    
.logo-footer img {
    max-width: 50px;
    width: 100%;
    text-align: left;
    height: auto;
}
    
.logo-footer {
    margin-bottom: 15px;
    display: block;
}
    
.upsection p {
    text-align: left;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 0;
    color: #1D164D;
    opacity: 0.8;
    font-size: 14px;
    font-weight: regular;
}
    
.footer-witget h2 {
    text-align: left;
    letter-spacing: 0;
    color: #1D164D;
    opacity: 1;
    font-size: 14px;
    line-height: 34px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}
    
.footer-witget a {
    text-align: left;
    letter-spacing: 0;
    color: #1D164D;
    opacity: 0.8;
    font-size: 12px;
    line-height: 21px;
    font-family: 'Rubik', sans-serif;
    font-weight: regular;
}
    
.footer-witget ul {
    list-style: none;
}
    
.upsection {
    margin-top: 50px;
    padding-bottom: 17px;
    box-shadow: 0px 1px 1px #efebeb;
}
    
.copyright {
    text-align: center;
    display: block;
    padding: 15px 0 10px;
}
.footer-witget a {
        font-weight: 500;
}  
.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dropdown-menu{padding: 0px;}

